<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/note.css">
    <title>All your note here</title>
</head>

<body>
    <header>
        <nav>
            <a class="logo" href="#">NoteMe</a>
            <!-- #region Ul-->
            <ul class="nav-list">
                <li><a href="/">Presentation</a></li>
                <li><a href="#">Who Are we</a></li>
            </ul>
        </nav>
    </header>
    <section class="notes-container">
        <div class="normal-container">

        </div>
    </section>
</body>

</html>